<section class="new-training">
  <mat-card>
    <mat-card-title>Start your workout!</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="Please select training type">
          <mat-option>Brisk Walking</mat-option>
          <mat-option>Crunches</mat-option>
          <mat-option>Yoga</mat-option>
          <mat-option>Brisk Walking</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="submit"
        color="primary"
        mat-raised-button
        (click)="onTraningStart()"
      >
        Start
      </button>
    </mat-card-actions>
  </mat-card>
</section>

