<section class="new-training">
  <mat-card>
    <mat-card-title>Start your workout!</mat-card-title>
    <form
      (ngSubmit)="onTraningStart(selectedId)"
      #f="ngForm"
      *ngIf="trainings$"
    >
      <mat-card-content>
        <mat-form-field>
          <mat-select
            placeholder="Please select training type"
            ngModel
            required
            name="training"
            (selectionChange)="selectedId = $event.value"
            #training="ngModel"
          >
            <mat-option
              *ngFor="let training of trainings$ | async"
              [value]="training.id"
            >
              {{ training.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          type="submit"
          color="primary"
          mat-raised-button
          [disabled]="f.invalid"
        >
          Start
        </button>
      </mat-card-actions>
    </form>
    <mat-spinner *ngIf="(trainings$ | async) === undefined || (trainings$ | async) === []"></mat-spinner>
  </mat-card>
</section>
