<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggle()">
      <mat-icon> menu </mat-icon>
    </button>
  </div>
  <div style="margin-left: auto">
    <button mat-icon-button routerLink="/">
      <mat-icon> home </mat-icon>
    </button>
  </div>
  <ul
    class="nav-list"
    fxFlex
    fxLayout
    fxLayoutGap="20px"
    fxLayoutAlign="flex-end"
    fxHide.xs
  >
    <li *ngIf="(isAuth$ | async) === false"><a routerLink="/auth/signup">Signup</a></li>
    <li *ngIf="(isAuth$ | async) === false"><a routerLink="/auth/login">Login</a></li>
    <li *ngIf="isAuth$ | async"><a routerLink="/training">Training</a></li>
    <li *ngIf="isAuth$ | async" (click)="onLogout()"><a>Logout</a></li>
  </ul>
</mat-toolbar>
