<section class="login-wrapper" @routeAnimations>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="loginForm"
    fxLayoutGap="20px"
    (ngSubmit)="onSubmit(loginForm)"
  >
    <mat-form-field
      hintLabel="Should be valid email with atleast 8 characters."
    >
      <input
        matInput
        type="email"
        placeholder="Your email address"
        ngModel
        formControlName="email"
      />
      <mat-error *ngIf="email?.errors?.['required']"
        >Field must not be empty</mat-error
      >
      <mat-error *ngIf="!email?.errors?.['required']">Invalid email</mat-error>
      <mat-hint align="end">{{ email?.value?.length }} / 8</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Should be atleast 6 characters.">
      <input
        matInput
        type="password"
        placeholder="Your password"
        ngModel
        formControlName="password"
      />
      <mat-error *ngIf="password?.errors?.['required']"
        >Field must not be empty</mat-error
      >
      <mat-error *ngIf="!password?.errors?.['required']"
        >Invalid password</mat-error
      >
      <mat-hint align="end">{{ password?.value?.length }} / 6</mat-hint>
    </mat-form-field>

    <button
      class="submit-button"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
      *ngIf="!(isLoading$ | async)"
    >
      Submit
    </button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
